extends html, javascript, css

snippet vue "Complete Vue file"
<script>
export default {
	name: '`!p snip.rv = snip.basename`',

	data () {
		return { }
	},

	computed: { },

	components: { }
}
</script>


<template lang="pug">
div
	h1 `!p snip.rv = snip.basename` 
</template>


<style lang="stylus" scoped>
</style>
endsnippet

snippet /** "Documentation"
/**
 * $1
 */
endsnippet
	
